In [2]:
# read datasets
import pandas as pd
subjects = pd.read_csv('Subjects.csv')
groups = pd.read_csv('Groups.csv')
teachers = pd.read_csv('Profesori.csv')
classes = pd.read_csv('Cabinete.csv')

In [91]:
sem_1_2 = subjects[subjects['semestru'] == "1,2"]
sem_1_2

    id    unitate_curs  teorie  practica  lab TOTAL  anul semestru
38  39  L. Engleză 1-2       0        30    0   NaN     1      1,2
39  40  Ed. Fizică 1-2       0        30    0   NaN     1      1,2

In [78]:
sem_1 = subjects[subjects['semestru'] == "1"]
sem_2 = subjects[subjects['semestru'] == "2"]

In [79]:
subj_sem_1 = sem_1.drop(columns=['semestru'], axis=1)
subj_sem_2 = sem_2.drop(columns=['semestru'], axis=1)

In [80]:
subj_sem_1

,id,unitate_curs,teorie,practica,lab,TOTAL,anul
0,1,AM1,30,30,0,NaN,1
2,3,ALGA,30,15,0,NaN,1
3,4,PC,30,30,30,NaN,1
4,5,PSA,30,15,15,NaN,1
5,6,Etica și integritatea academică/ Psihologie in...,30,0,0,NaN,1
9,10,Grafica inginerească,15,0,30,NaN,1
10,11,Fizica,30,30,30,NaN,1
20,21,ALGA (FAF),30,15,0,NaN,1
21,22,PCAIT (FAF),0,0,0,Proiect 60,1
22,23,MD (FAF),30,15,30,NaN,1
23,24,AM1 (FAF),30,30,0,NaN,1
24,25,EIA (FAF),30,0,0,NaN,1
25,26,PSA (FAF),30,15,15,NaN,1
26,27,PC (FAF),30,30,30,NaN,1
27,28,L. Engleza (FAF),0,30,0,NaN,1
36,37,L. Română,0,30,0,NaN,1

In [81]:
subj_sem_2

    id                 unitate_curs  teorie  practica  lab       TOTAL  anul
1    2                          AM2      30        15    0         NaN     1
6    7                          SDA      30        15    0         NaN     1
7    8                          CSA      30        15    0         NaN     1
8    9                           GC      30         0   30         NaN     1
11  12           Mecanica Teoretică      30         0   30         NaN     1
12  13                           MS      30        15   30         NaN     1
13  14                           MD      30        15   30         NaN     1
14  15        Biologie și biochimie      45         0   30         NaN     1
15  16  Arhitectura calculatoarelor      30        15   30         NaN     1
16  17               Tehnologii Web      30         0   30         NaN     1
17  18      Programarea procedurală      30         0   30         NaN     1
18  19         Practica de inițiere       0         0    0         NaN     1
19  20                 Criptografie      30         0   30         NaN     1
28  29                     ME (FAF)       0         0    0  Proiect 60     1
29  30                     SA (FAF)      30        30   30         NaN     1
30  31                     AM2(FAF)      30        30    0         NaN     1
31  32                      MS(FAF)      30        15    0         NaN     1
32  33                     MN (FAF)      30        15    0         NaN     1
33  34                     SDA(FAF)      30        15   30         NaN     1
34  35                     CSA(FAF)      30        15    0         NaN     1
35  36            L. Engleza2 (FAF)       0        30    0         NaN     1
37  38                  L. Română 2       0        30    0         NaN     1

In [7]:
data = pd.read_csv('exportedSEM1(1).csv')

In [8]:
data = data[['ID','SUBJECT','TYPE', 'Profesori.NAME', 'Grupe.nr_persoane']]

In [10]:
data

        ID         SUBJECT      TYPE      Profesori.NAME  Grupe.nr_persoane
0      117       Biofizica    teorie        Zaiden Bauer                NaN
1      117       Biofizica    teorie        Zaiden Bauer                NaN
2      117       Biofizica       lab        Amber Brooks                NaN
3      117       Biofizica       lab        Amber Brooks                NaN
4      117       Biofizica       lab        Amber Brooks                NaN
...    ...             ...       ...                 ...                ...
29464   40  Ed. Fizică 1-2  practica      Madilyn Ramsey               26.0
29465   40  Ed. Fizică 1-2  practica      Madilyn Ramsey               26.0
29466   40  Ed. Fizică 1-2  practica      Madilyn Ramsey               26.0
29467    5             PSA       lab  Adrianna Zimmerman               26.0
29468    5             PSA       lab  Adrianna Zimmerman               26.0

[29469 rows x 5 columns]